%h1.page-title Shopping Cart

.row
  .col-md-5.col-md-offset-3
    %ul.list-group
      - @cart.each do |product_id, quantity|
        %a.book-path{href: '#', class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center'}
          .flex-column
            Product id: 
            = product_id
            %br
            Quantity: 
            = quantity 
