%body
  %header.header-wrapper
    %img.logo{src: '/logo.png'}
    %p.logo-text
      Eureka
      %br
      Caffe 
    %nav.navigation
      %ul.nav-list
        %li HOME 
        %li ABOUT 
        %li SERVICE 
        %li BLOG 
        %li CONTACTS 
    %h1#title.text Ordering food 
    %p.text You can order food in many ways. There are many algorithms out there that you can use to order food.
    %p.text The only optimal ones, however, are quicksort and heapsort.

  %main
    .options-bar
      #category-option.dropdown
        %p.drop-text 
          CATEGORY
          %span.caret ⌄
        .dropdown-content 
          %p PASTA 
          %p PIZZA 
          %p SOUP 
          %p SALAD 

      #sorting-option.dropdown
        %p.drop-text
          SORTING
          %span.caret ⌄
        .dropdown-content 
          %p A-Z
          %p Z-A
          %p Price: L-H 
          %p Price: H-L

      #vegetarian-option.dropdown
        %p.drop-text
          VEGETARIAN
          %span.caret ⌄
        .dropdown-content 
          %p VEGETARIAN
          %p VEGAN
          %p NON-VEGETARIAN
      
      %p#price-option PRICE 
      %p#min-price-option.price-option $15
      %input#price-range-bar{type: 'range', name: 'price', min: '15', max: '100'}
      %p#max-price-option.price-option $100
    
    .grid-container
      #container.container
        - @products.each do | product |
          .dish
            =image_tag(product.image, class: 'food-image')
            .info 
              %p.dish-name= product.title 
              %p.description= product.description 
              %p.price= "$#{product.price}"
